.sidebar {
  position: fixed;
  top: 0;
  height: 100%;
  width: 200px; 
  background-color: #333;
  padding-top: 60px; 
  transition: transform 0.3s ease, width 0.3s ease;
  z-index: 1000;
}

.sidebar.open {
  transform: translateX(0);
  width: 200px; 
}

.sidebar.closed {
  transform: translateX(-100%);
  width: 60px; 
}

.hamburger {
  display: none; 
  position: absolute;
  top: 20px;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px auto;
  transition: all 0.3s ease;
}

.sidebar.open .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.sidebar.open .bar:nth-child(2) {
  opacity: 0;
}

.sidebar.open .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-links a:hover {
  background-color: #555;
}

.nav-links a.active {
  background-color: #555; 
}


.nav-links a:not(:last-child) {
  margin-bottom: 5px; 
}


@media (max-width: 768px) {
  .sidebar {
    width: 0px; 
    left: -10px; 
  }

  .sidebar.open {
    left: 0px; 
  }

  .sidebar.closed {
    left: -100px;
  }

  .sidebar.open .bar:nth-child(1) {
    transform: rotate(0) translate(0, 0);
  }

  .sidebar.open .bar:nth-child(3) {
    transform: rotate(0) translate(0, 0);
  }

  .hamburger {
    display: block; 
  }

  .nav-links {
    padding-top: 10px; 
  }

  .nav-links a {
    padding: 0px; 
  }

  .nav-links a:not(:last-child) {
    margin-bottom: 3px; 
  }

  .nav-links a .nav-label {
    display: none; 
  }

  .nav-links a {
    justify-content: center;
    padding: 15px; 
  }
}
